/* Base Styles */
body {
    font-family: Arial, sans-serif;
    background: url('./assets/Header_Background.webp') no-repeat center center fixed;
    background-size: cover;
    background-color: rgb(16, 12, 12);
    color: rgb(16, 13, 13);
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #111;
    color: #FFF;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

header h1 {
    margin: 0;
    font-size: 24px;
}
.logo {
    height: 50px; /* Adjust height as needed */
    max-width: 100%;
    margin-right: 20px;
    vertical-align: middle; /* Centers the logo with the nav items */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav li a {
    color: rgb(126, 190, 75); /* Set the desired green color */
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
}

nav li a:hover {
    background-color: #444;
    border-radius: 5px;
}

/* Main Content Styles */
main {
    padding: 20px;
    display: flex;
    flex-direction: column; /* Stack sections vertically */
    align-items: center; /* Center the sections horizontally */
}

/* Section Styling */
section {
    width: 80%; /* Ensure sections are centered and take up 80% of the main width */
    max-width: 800px;
    margin-bottom: 20px;
    background-color: rgb(24, 20, 18);
    padding: 20px;
    border-radius: 8px;
}

/* Guides Section */
section#guides {
    /* Optional additional styling specific to #guides if needed */
}

section#guides h2 {
    color: #FFA500; /* Warm orange color for section titles */
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

/* Tips Section */
section#tips {
    /* Optional additional styling specific to #tips if needed */
}

section#tips h2 {
    color: #FFA500;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

/* Card Styles */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #222;
    padding: 15px;
    border-radius: 8px;
    flex: 1 1 30%;
    text-align: center;
    color: #ABBDCF;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card h3 {
    color: #FFA500;
    margin-top: 10px;
}

.card p {
    font-size: 14px;
    line-height: 1.6;
}

.card a {
    color: rgb(126, 190, 75); /* Set the desired green color */
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

.card a:hover {
    color: #FFF;
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #111;
